@use './iconfont.scss';
@use './vant-theme-custom.scss';
@use './css-var.scss';

html,
body,
main {
  height: 100%;
}

main {
  overflow: hidden;
}

body,
html {
  font-family: variable.$font-family-base;
  font-size: 16px;
  color: var(--color-text-1);
  background-color: var(--color-bg-2);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
  padding: 0;
}

.text-primary-color {
  color: var(--color-primary) !important;
}

.container-full {
  box-sizing: border-box;
  min-height: 100vh;
  background-color: var(--color-bg-2);
}

.rich-text {
  white-space: pre-wrap;
  word-break: break-word;
}

.scroller-x {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

.scroller-y {
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

#app {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.dialogClass {
  z-index: 100001 !important;
}

@media screen and (min-width: 500px) and (max-width: 768px) {
  html {
    font-size: 90px !important;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  html {
    font-size: 100px !important;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1599px) {
  html {
    font-size: 110px !important;
  }
}

@media screen and (min-width: 1600px) {
  html {
    font-size: 120px !important;
  }
}

* {
  scrollbar-width: none;
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    display: none;
  }
}
